img {
  cursor: pointer;
  text-align: center;
  max-height: 250px;
  height: 100%;
  width: auto;
}

.comment-form {
  width: 100%;
}

.comment-control {
  line-height: 3;
  border: transparent;
  box-shadow: 0 0 10px transparent;
}

.add-comment {
  padding: 1rem 0px;
}

.comment-btn {
  padding: 0;
  color: #0d6efd;
}

.favorite-btn {
  padding: 0;
  color: pink;
}
