<div class="card shadow-sm">
  <img
    class="bd-placeholder-img card-img-top"
    width="100%"
    height="100%"
    [src]="feedPhoto.photoUrl"
    [routerLink]="[feedPhoto.id]"
  />
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button
          class="comment-btn"
          mat-icon-button
          extended
          (click)="showComment()"
        >
          <mat-icon> chat_bubble_outline </mat-icon>
        </button>
      </div>
      <button class="favorite-btn" mat-icon-button>
        <mat-icon>favorite</mat-icon>
      </button>
    </div>
    <div
      class="add-comment card-body d-flex justify-content-between align-items-center"
    >
      <form
        class="comment-form"
        *ngIf="isClicked"
        #commentForm="ngForm"
        (ngSubmit)="onPostComment(commentForm)"
      >
        <div class="form-group">
          <div class="input-group mb-3">
            <input
              ngModel
              name="comment"
              type="text"
              class="comment-control form-control"
              placeholder="Add a comment..."
            />
            <button class="post-btn" mat-icon-button type="submit">
              <mat-icon>arrow_forward</mat-icon>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div
      *ngIf="comments.length !== 0 && isClicked"
      class="comment-container container-fluid"
    >
      <p *ngFor="let comment of comments.slice(0, 3)">{{ comment }}</p>
    </div>
  </div>
</div>
