<div class="container">
  <br /><br />
  <figure class="text-center">
    <blockquote class="blockquote">
      <p>Welcome to my photos collection</p>
    </blockquote>
    <figcaption class="blockquote-footer">
      <cite title="Loa">Loa</cite>
    </figcaption>
  </figure>
  <ul class="footer-link nav justify-content-center">
    <li class="nav-item">
      <a style="cursor: pointer" class="nav-link" [routerLink]="['questions']"
        >FAQ</a
      >
    </li>
    <li class="nav-item">
      <a style="cursor: pointer" class="nav-link" [routerLink]="['about']"
        >About</a
      >
    </li>
  </ul>
</div>
